body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4a4b4e;
  color: #fff;
  text-align: center;
}

.header-navbar {
  background-color: aqua;
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
