.unitPost {
  display: flex;
  justify-content: center;
  border: 1px solid #f5f3f3;
  border-radius: 10px;
  margin: 20px;
  width: 35vw;
}

.deleteBtn {
  width: 30px;
  height: 25px;
  background: red;
  outline: none;
  border: none;
  margin-top: 10px;
}

.unitPost .reactionButton {
  margin: 10px;
  background: blue;
  outline: none;
  border: none;
  color: #fff;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select,
button,
input {
  margin: 10px;
  width: 20vw;
  height: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.post-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reactions-btn {
  width: auto;
  padding: 3px 5px;
  border-radius: 5px;
  color: red;
}
